html {
	cursor: url("images/cursor.gif"), auto;
}
body {
	font-family: Tahoma, sans-serif;
	background-color: #121212;
	background-image: url("images/spacebg.gif");
	color: #FFFFFF;
	font-size: 12px;
}
//the height is such a hack
#heading {
	width: 150px;
	text-align: center;
	float: center;
}
#heading h {
	font-size: 10px;
}

a:link {
	color: white;
}
a:visited {
	color:white;
}
a:hover {
	color:white;
}
a:active {
	color:white;
}
